{% extends 'tasks/base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}
<div class="row">
    {% for task in tasks %}
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ task.title }}
                        {% if task.completed %}
                            <span class="badge bg-success">Concluída</span>
                        {% else %}
                            <span class="badge bg-warning text-dark">Pendente</span>
                        {% endif %}
                        {% if task.priority == 'ALTA' %}
                            <span class="badge bg-danger">Alta</span>
                        {% elif task.priority == 'MEDIA' %}
                            <span class="badge bg-secondary">Média</span>
                        {% else %}
                            <span class="badge bg-success">Baixa</span>
                        {% endif %}
                    </h5>
                    <p class="card-text">{{ task.description }}</p>
                        {% if task.due_date %}
                                <p class="text-muted">
                                    Vencimento: 
                                    {% if task.due_date < today and not task.completed %}
                                        <span class="text-danger">{{ task.due_date }}</span>
                                    {% else %}
                                        {{ task.due_date }}
                                    {% endif %}
                                </p>
                            {% endif %}
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="{% url 'task_update' task.id %}" class="btn btn-sm btn-outline-secondary">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                            <a href="{% url 'task_delete' task.id %}" class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i> Excluir
                            </a>
                        </div>
                        <a href="{% url 'toggle_complete' task.id %}" class="btn btn-sm btn-outline-success">
                            {% if task.completed %}
                                <i class="bi bi-x-circle"></i> Marcar como Pendente
                            {% else %}
                                <i class="bi bi-check-circle"></i> Marcar como Concluída
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-muted">Nenhuma tarefa encontrada.</p>
    {% endfor %}
</div>
{% endblock %}